<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate Registration</title>
</head>
<body>
    <h1>Candidate Registration</h1>
    <form action="/candidate/register" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        
        <label for="trainerEmail">Trainer Email:</label><br>
        <input type="email" id="trainerEmail" name="trainerEmail"><br>
        <label for="score">Score:</label><br>
        <input type="text" id="score" name="score" value="0" readonly><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
